/* Modo Escuro */
body.dark-mode {
    background-color: #121212; /* Cor de fundo escuro */
    color: #ffffff; /* Cor do texto branco para maior contraste */
}

body.dark-mode header {
    background-color: #1e1e1e; /* Fundo escuro para o cabeçalho */
}

body.dark-mode button {
    background-color: #333; /* Cor de fundo dos botões no modo escuro */
    color: white; /* Texto do botão em branco */
}

body.dark-mode button:hover {
    background-color: #555; /* Cor do botão quando passar o mouse */
}

body.dark-mode a {
    color: #ffdd57; /* Links em amarelo para destacar no modo escuro */
}

body.dark-mode a:hover {
    color: #fbbd43; /* Cor do link quando passar o mouse */
}
